* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: roboto-m;
  src: url(../assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: roboto-f;
  src: url(../assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: sans-serif;
}
body {
  font-family: roboto;
  font-style: normal;
}

header {
  font-family: roboto;
  font-style: bold;
}

h1 {
  font-family: roboto-m;
  font-style: initial;
}

h2 {
  font-family: roboto;
  font-style: initial;
}

.contact-info {
  text-align: center;
  border-top: 10px;
  padding-top: 10px;
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

.contact-form input[type=submit],
.contact-form input[type=reset] {
  width: 100%;
  padding: 10px;
  background-color: #8f8f91;
  color: fff;
  border: none;
  border-radius: 5px;
}

.contact-form input[type=submit] {
  margin-top: 10px;
}

.btn-sca:hover {
  transform: scale(1.03);
  border-radius: 5px;
  padding: 5px;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-areas: "img1 img1 img1 img1" "section section section section" "prod prod prod prod" "img-2 img-2 img-2 img-2" "prod-1 prod-1 prod-1 prod1 " "prod-2 prod-2 prod-2 prod-2" grid-template-columns repeat 4, 1fr grid-template-rows repeat 6, 1fr;
}

.grid_item1 {
  padding: 10px;
}

.grid_img0 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 250px;
}

@media (min-width: 768px) {
  .grid_img0 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .grid_img0 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
  }
}
@media (min-width: 1280px) {
  .grid_img0 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1000px;
  }
}
.grid_img_0 {
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 250px;
}

@media (min-width: 768px) {
  .grid_img_0 {
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .grid_img_0 {
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 750px;
  }
}
@media (min-width: 1280px) {
  .grid_img_0 {
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 800px;
  }
}
.grid_img1 {
  grid-row: 1/3;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 350px;
  height: 350px;
}

.grid_item {
  background-color: #ffffff;
  padding: 20px 0 20px 0;
  text-align: center;
  margin: 30px;
  transition: all 0.2s ease-out;
}
.grid_item:hover {
  transform: scale(1.2);
  border-radius: 5px;
  padding: 5px;
}

.grid_h2 {
  background-color: white;
}

.grid_cont {
  margin: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parent .grid_item1 {
  gird-area: img1;
}

.parent section {
  grid-area: section;
}

.paren .grid_item5 .parent .grid_item6 .parent .grid_item7 .parent .grid_item8 {
  grid-area: prod;
}

.parent.grid_item9 {
  grid-area: img-2;
}

.parent .grid_item9 .parent .grid_item10 .parent .grid_item11 .parent .grid_item12 .parent .grid_item13 {
  grid-area: prod-1;
}

.parent .grid_item14 .parent .grid_item15 .parent .grid_item16 .parent .grid_item17 {
  grid-area: prod-2;
}

.grid_item2 .grid_item3 .grid_item4 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid_cont {
  gap: 150px;
  font-size: 15px;
}

@media (min-width: 1024px) {
  .grid_cont {
    display: flex;
    padding: 10px;
  }
}
.grid_sec_2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 300px;
}

.grid_sec {
  margin: 30px;
  width: 100%;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 1024px) {
  .grid_sec {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 10px;
  }
}
.grid_img2 {
  width: 200px;
  height: 200px;
}

.grid_img3 {
  width: 200px;
  height: 200px;
}

.grid_item5 .grid_item6 .grid_item7 .grid_item8 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid_item10 .grid_item11 .grid_item12 .grid_item13 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid_item14 .grid_item15 .grid_item16 .grid_item17 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #f1f1f1;
  color: #000000;
  font-size: 15px;
}

footer .foot-cont {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.foot_menu {
  list-style-type: none;
}

.foot_menu li a {
  text-decoration: none;
  padding: 0;
  text-align: center;
}

.sec-p {
  text-align: center;
}

.redes {
  justify-content: center;
  display: flex;
  text-align: center;
}

.sec-en {
  text-align: center;
}

.icon:hover {
  transform: scale(1.1);
  border-radius: 5px;
  padding: 5px;
}

@media (min-width: 1024px) {
  .sec-footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
  }
}
@media (min-width: 1280px) {
  .sec-footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
}
body {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}

h2 {
  text-align: center;
  background-color: #cecece;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
}

h3 {
  text-align: center;
}

p {
  margin-bottom: 10px;
}

header {
  width: 100%;
  font-size: 15px;
  background-color: #ffffff;
  align-content: center;
  padding: 0;
  margin: 0;
  border: 0;
}

.cont_b {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 25px;
}

.logo_1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 175px;
}

@media (min-width: 480px) {
  .logo_1 {
    width: 250px;
    height: 125px;
  }
}
@media (min-width: 768px) {
  .logo_1 {
    width: 250px;
    height: 125px;
  }
}
@media (min-width: 1024px) {
  .logo_1 {
    width: 350px;
    height: 175px;
  }
}
@media (min-width: 1280px) {
  .logo_1 {
    width: 400px;
    height: 200px;
  }
}
nav {
  padding: 0;
  margin: 0;
  font-family: roboto-m;
  width: 100%;
  height: 43px;
  background-color: #ffffff;
  position: relative;
}

.nav_menu {
  justify-content: center;
  border-top: 2.5px solid rgb(205, 193, 193);
  border-bottom: 2.5px solid rgb(205, 193, 193);
  width: 100%;
  list-style: none;
  gap: 80px;
  display: flex;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .nav_menu {
    align-items: left;
    z-index: 1000;
    width: 100%;
    box-shadow: none;
    gap: 5px;
    margin: 0;
    background-color: #f1f1f1;
  }
}
.nav_menu li {
  position: relative;
}
.nav_menu li:hover .sub_menu {
  display: block;
}

.nav_menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  display: block;
}

.sub_menu {
  text-align: left;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

@media (max-width: 768px) {
  .sub_menu {
    z-index: 1000;
    text-align: left;
    display: none;
    box-shadow: none;
    position: absolute;
    top: 100%;
    gap: 5px;
    background-color: #f1f1f1;
    padding-left: 40px;
    margin: 0;
    width: 200px;
  }
}
.sub_menu li {
  width: 100%;
}

.sub_menu a {
  padding: 10px;
}

#menu_toggle {
  display: none;
}

.menu_icon {
  float: right;
  padding-right: 10px;
  display: none;
  font-size: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav_menu {
    text-align: left;
    flex-direction: column;
    display: none;
  }
  #menu_toggle:checked + .menu_icon + .nav_menu {
    display: flex;
  }
  .menu_icon {
    display: block;
  }
  .nav_menu li {
    text-align: left;
  }
  .nav_menu li a {
    padding: 14px;
  }
  .nav_menu li:hover .sub_menu {
    position: static;
  }
}

/*# sourceMappingURL=main.css.map */
