* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: roboto;
    src: url('../assets/fonts/Roboto-Black.ttf');
}

body {
    font-family: roboto;
    font-style: normal;
    text-align: center;
    background-color: #ffffff;
}
header { 
    justify-items: center;
    align-items: center;
    font-size: 15px;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);  
    background-color: #f1f1f1;
    align-content: center;
    font-family: roboto; 
    font-style: bold;
}
.search-container {
    gap: 30px;
    display: flex;
    align-items: center;
}

.search-container form {
    display: flex;
}

.search-container input[type="text"] {
    width: 700px;
    padding: 5px;
    border: none;
    outline: none;
}

.search-container button {
    padding: 5px 10px;
    background-color: #c4c4c4;
    border: none;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #acacac;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .search-container {
        width: 100%;
        margin-top: 10px;
    }

    .search-container input[type="text"] {
        width: 100%;
        margin-right: -1px; /* Ajuste visual para que el botón no sobresalga */
    }

    .search-container button {
        width: 100%;
        margin-top: 5px;
        border-radius: 5px; /* Cambiar a bordes redondeados completos en lugar de solo en un lado */
    }

    .search-container form {
        flex-direction: column;
    }
}
nav {
    width: 100%;
    background-color: #f1f1f1;
    position: relative;

}
.nav_menu {
    width: 100%;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
    list-style: none;
    gap: 80px;
    padding-right: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav_menu li {
    position: relative;
}

.nav_menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: block;
}

.sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.sub_menu li {
    width: 100%;
}

.sub_menu a {
    padding: 10px;
}

.nav_menu li:hover .sub_menu {
    display: block;
}
#menu_toggle {
    display: none;
}
.menu_icon {
    float: right;
    padding-right: 10px;
    display: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
@media (max-width: 768px) {
    .nav_menu {
        flex-direction: column;
        display: none; 
    }
    #menu_toggle:checked + .menu_icon + .nav_menu {
        display: flex;
    }
    .menu_icon {
        display: block;
    }
}
.section {
    text-align: center;
    align-items: center;
}
.grid_cont {
    justify-content: center;
    align-items: center;
    text-align: center;
}
p {
    margin-bottom: 10px;
}
.grid {
    display: grid;
    grid-template-areas: 
    "img1 img1 img1 img1"
    "section section section section"
    "prod prod prod prod"
    "img-2 img-2 img-2 img-2"
    "prod-1 prod-1 prod-1 prod1 "
    "prod-2 prod-2 prod-2 prod-2"
    grid-template-columns: repeat (4, auto);
    grid-template-rows: repeat (17, auto);
}
.parent .grid_item1 {
    gird-area: img1;
}
.parent section {
    grid-area: section;
}
.paren .grid_item5 .parent .grid_item6 .parent .grid_item7 .parent .grid_item8{
    grid-area: prod;
}
.parent.grid_item9 {
    grid-area: img-2;
}
.parent .grid_item9 .parent .grid_item10 .parent .grid_item11 .parent .grid_item12 .parent .grid_item13 {
    grid-area: prod-1;
}
.parent .grid_item14 .parent .grid_item15 .parent .grid_item16 .parent .grid_item17 {
    grid-area: prod-2;
}
.grid_item {
    background-color: #ffffff;
    padding: 0px;
    text-align: center;
}

.grid_img0 {
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
}
@media (min-width: 768px){
    .grid_img0 {
        box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 400px;
    }
    }
@media (min-width: 1024px){
    .grid_img0 {
        box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 600px;
    }
    }
    @media (min-width: 1280px){
        .grid_img0 {
            box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
            margin: 0;
            padding: 0;
            width: 100%;
            height: 900px;
        }
        }
.grid_img_0{
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
}
@media (min-width: 768px){
    .grid_img_0 {
        box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
        margin: 0;
        padding bottom: 10px;
        width: 100%;
        height: 300px;
    }
    }
@media (min-width: 1024px){
    .grid_img_0 {
        box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
        margin: 0;
        padding bottom: 10px;
        width: 100%;
        height: 400px;
    }
    }
    @media (min-width: 1280px){
        .grid_img_0 {
            box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
            margin: 0;
            padding bottom: 10px;
            width: 100%;
            height: 700px;
        }
        }
    
.grid_item1 {
    grid-row: 1/3;
    margin: 0;
    padding: 0;
    border: none;  
}

.grid_img1{
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 250px;
    height: 250px;
}
h1 {
    text-align: center;
    padding-left: 30px;
    padding-top: 20px;
}
.grid_item2 {
    justify-content: center;
    align-items: center;
}
.grid_cont {
    font-size: 15px;
    align-items:center;
    justify-content:center;
    text-align: center;
}
@media (min-width:1024px) {
    .grid_cont{
        display: flex;
        padding: 10px;
    }
    
}
.grid_sec {
        font-size: 15px;
    align-items:center;
    justify-content:center;
    text-align: center;
}
@media (min-width:1024px) {
    .grid_sec{
        align-items: center;
        text-align: center;
        display: flex;
        padding: 10px;
    }
 
}    
.grid_item3 {
    
    justify-content: center;
    align-items: center;
    
}
h2 {
    background-color: #f1f1f1;
    box-shadow: 0px -3px 3px rgba(2, 2, 12, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.grid_item4 {
    justify-content: center;
    align-items: center;
}
.grid_img2{
    
    width: 200px;
    height: 200px;
}
.grid_item5 {
    
    justify-content: center;
    align-items: center;
}

.grid_item6 {
    justify-content: center;
    align-items: center;
}

.grid_item7 {
    justify-content: center;
    align-items: center;
}

.grid_item8 {
    justify-content: center;
    align-items: center;
}

.grid_item9 {
    margin: 0;
    padding: 0;
    border: none;  
}

.grid_item10 {
    justify-content: center;
    align-items: center;
}

.grid_item11 {
    justify-content: center;
    align-items: center;
}

.grid_item12 {
    justify-content: center;
    align-items: center;
}

.grid_item13 {
    justify-content: center;
    align-items: center;
}
.grid_item14 {
    justify-content: center;
    align-items: center;
}
.grid_item15 {
    justify-content: center;
    align-items: center;
}
.grid_item16 {
    justify-content: center;
    align-items: center;
}
.grid_item17 {
    justify-content: center;
    align-items: center;
}
footer{
    align-items: center;
    text-align: center;
    padding-top: 5px;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.3), 0px 3px 3px rgba(0, 0, 0, 0.3);
    background-color: #f1f1f1;
    color: #000000;
}
.icon {
    margin: 0;
    border: none;
    padding:15px 2px;
}
