
body {
    @include center;
    background-color: $color-primario;
}

h1 {
    text-align: center;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}
h2 {
    text-align: center;
    background-color: $color-h2;
    box-shadow: $box-shadow;
    
}
h3 {
    text-align: center;
}
p {
    margin-bottom: 10px;
}